/*STYLE CSS*/
@font-face {
  font-family: 'gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
   url('../fonts/gilroyextrabold.woff') format('woff');

}


@font-face {
  font-family: 'gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');

}

@font-face {
font-family: 'opensans';
font-style: normal;
font-weight: 400;
src: url('../fonts/opensans.woff2') format('woff2'),
url('../fonts/opensans.woff') format('woff');
}

@font-face {
font-family: 'opensans';
font-style: normal;
font-weight: 300;
src: url('../fonts/opensanslight.woff2') format('woff2'),
url('../fonts/opensanslight.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;

  font-family: 'opensans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgb(70,70,70);
  background-color: rgb(255,255,255);

}
.im{
  max-width: 100%;
  height: auto;
}

.willfade{
  letter-spacing: 3.2px;
}
.willfade:hover, .willfade:focus {
  opacity: .6;
}

.willfade:active {
  opacity: .3;
}

.willfadesecond{
  opacity: .7;
}
.willfadesecond:hover {
  opacity: 1;
}

.willfadesecond:active, .willfadesecond:focus {
  opacity: .3;
}

a {
  text-decoration: none;
}

.breadcrumbs-item{
  opacity: .3;
}
.breadcrumbs-item:hover {
  opacity: .6;
}

.breadcrumbs-item:active, .breadcrumbs-item:focus {
  opacity: .1;
}



.legend{
  letter-spacing: 0.18px;
}

.button {
  display:inline-block;
  font-family: 'gilroy', Arial, sans-serif; 
  font-weight: bold;
  text-align: center;
  color: rgb(0,0,0);
  vertical-align: middle;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  letter-spacing: 3.2px;

  background-color: transparent;
  border: none;
}

 .button{
  position: relative;
  padding: 0 23px;
  z-index: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.button:hover::before{
  height:100%;
}

.button::before {
  
    content: "";
  
    position: absolute;
    z-index: -1;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

    height: 8px;
    background: rgb(240,197,46);

    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    left:0;
    width: 100%;

    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .button:active{
   color: rgba(0,0,0,0.3)
  }



.site-navigation,
.user-navigation,
.submenu-column,
.catalog-list{
  list-style: none;
}

.main-navigation {
  color: rgb(0,0,0);
  background-color: transparent;
}

.user-link{
  font-size: 15px;
  line-height: 30px;
}

.site-link{
  font-size: 18px;
  line-height: 24px;
  font-family: 'gilroy', Arial, sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
}

.submenu-link{
  font-size: 15px;
  line-height: 36px;
  font-family: 'opensans', Arial, sans-serif; 
  font-weight: lighter;
}

.site-navigation a,
.user-navigation a,
.catalog-list a{
  color: rgb(0,0,0);
}    

.visually-hidden:not(:focus):not(:active){
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.submenu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  background-color: rgb(247,226,150);
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 60px;
  padding-top: 27px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
}
.submenu-column{
  background: transparent;
}

.submenu-item{
  width: 220px;
}
.contact{
  margin-left: auto;
}


.search{
  font-size: 15px;
  line-height: 30px;
  font-family: 'opensans', Arial, sans-serif; 
  font-weight: lighter;

  margin-left: 20px;
  background-color: transparent;

  border: transparent;
  border-bottom: 2px solid transparent;

  width: 270px;
  height: 49px;
}
.search::-webkit-input-placeholder{
  color: rgba(0,0,0,0.3);
}
.search:-ms-input-placeholder{
  color: rgba(0,0,0,0.3);
}
.search::-ms-input-placeholder{
  color: rgba(0,0,0,0.3);
}
.search::placeholder{
  color: rgba(0,0,0,0.3);
}

.search:hover::-webkit-input-placeholder{
  color: rgba(0,0,0,0.6);
}

.search:hover:-ms-input-placeholder{
  color: rgba(0,0,0,0.6);
}

.search:hover::-ms-input-placeholder{
  color: rgba(0,0,0,0.6);
}

.search:hover::placeholder{
  color: rgba(0,0,0,0.6);
}
.search:focus{
  color: rgb(0,0,0);
  border-bottom: 2px solid #000;
}


.search-btn{
  font-size: 15px;
  line-height: 36px;
  font-family: 'opensans', Arial, sans-serif; 
  font-weight: lighter;

  display: none;
  border: 2px solid #000;
  background-color: transparent;
  margin: 0px;
  width: 85px;
  height: 49px;
  margin-left: -5px;
  padding-bottom: 7px;
}
.search:focus + .search-btn{
  display: inline-block;
  vertical-align: middle;
}

.search-btn:hover{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255)
}

.search-btn:active{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255,0.3)
}



/* MAIN */
.title{
  color:rgb(0,0,0);
  font-size: 47px;
  line-height: 48px;
  font-family: 'gilroy', Arial, sans-serif; 
  font-weight: bold;
}

.logistics{
  color:rgb(0,0,0);
  font-size: 18px;
  font-family: 'gilroy', Arial, sans-serif; 
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 70px;
 }

/* FOOTER */
footer{
  background-color: rgb(70,70,70);
  color:rgb(255,255,255);
}
.logo{
  color:rgb(255,198,0);
  font-size: 48px;
  line-height: auto;
  font-family: 'gilroy', Arial, sans-serif;
  font-weight: bold;
}

.footer-site-navigation,
.footer-user-navigation,
.footer-social-navigation{
  list-style: none;
}

.footer-user-navigation a,
.footer-site-navigation a,
.footer-contacts a,
.footer-social-navigation a{
  color: rgb(255,255,255);
}    

.footer-site-navigation{
  text-transform: uppercase;
}

/* Сеточные стили */

.container{
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header{
  background-color:rgb(247,226,150);
  padding-top: 45px;
  padding-right: 60px;
  padding-bottom: 45px;
  padding-left: 60px;
  margin-top: 40px;
  position: relative;
}

.user-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;

}

.search-form{
width: 400px;
}

.user-navigation .search-form{
  position: relative;
  margin-left: 25px;
}

.search-form::before {
  content: "";

  position: absolute;

  top: 18px;
  left: -23px;

  width: 16px;
  height: 16px;
  
  background-image: url(../img/svg-device/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgb(247,226,150);
}

.compare{
  margin-left: auto;
  margin-right: 40px;
}

.user-navigation .user-link-cart{
  position: relative;
  margin-left: 25px;
}

.user-link-cart::before {
    content: "";
  
    position: absolute;

    top: 5px;
    left: -25px;

    width: 12px;
    height: 12px;
    
    background-image: url(../img/svg-device/cart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(247,226,150);
  }

  .user-navigation .user-link-compare{
    position: relative;
    margin-left: 25px;
  }

  .user-link-compare::before {
    content: "";
  
    position: absolute;

    top: 5px;
    left: -23px;

    width: 10px;
    height: 10px;
    
    background-image: url(../img/svg-device/compare.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(247,226,150);
  }

  .user-navigation .user-link-login{
    position: relative;
    margin-left: 135px;
  }

  .user-link-login::before {
    content: "";
  
    position: absolute;

    top: 4px;
    left: -23px;

    width: 13px;
    height: 13px;
    
    background-image: url(../img/svg-device/user.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(247,226,150);
  }
.site-item{
  letter-spacing: 3.6px;
}

.site-navigation-cotalog:hover + .submenu{
  visibility: visible;
}
.site-item.catalog:hover .submenu, .submenu:hover { 
  visibility: visible; 
  }

.site-navigation .site-navigation-cotalog{
  position: relative;
  margin-right: 32px;
}

.site-navigation-cotalog::before {
  content: "";

  position: absolute;

  top: 3px;
  right: -25px;

  width: 16px;
  height: 16px;
  
  background-image: url(../img/plus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgb(247,226,150);
}
.communication-columns-text{
  margin-top: 60px;
  margin-bottom: 40px;
}
.contacts-communication-map{
  margin-bottom: 80px;
}


.site-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main{
  margin-top: 45px;
}
.container .main-index{
  margin-bottom: 90px;
}


.catalog{
  width: 540px;
}

.guarantee{
  margin-left: 33px;
}

.header-logo{
  width: 178px;
  height: 54px;
  margin-top: -70px;
}


.communication-columns{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.about-communication {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-communication{
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.btn-communication{
  display: block;
  width: 214px;
}

.main-footer .container{
background-color: rgb(70,70,70);
padding-top: 63px;
padding-bottom: 67px;
width: 1160px;
}


.main-footer-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
}
.log-foot-item{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
margin-bottom: 42px;
}


.footer-user-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

}

.footer-site-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-navifooterrow{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 500px;
}
.footerrow{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}  
.footer-social-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 145px;
}

.compare-footer{
  margin-right: 44px;
  margin-left: 44px;
}
.guarantee-footer{
  margin-right: 36px;
  margin-left: 36px;
}
.centerrow{
  margin-top: 58px;
  margin-bottom: 68px;
}

.footer-line{
  width:80px;
  height:6px;
  background: rgb(255,190,0);
}
.address,
.contacts{
  width: 260px;
}
.contacts{
  text-align: right;
}

.logo-academy{
  width: 80px;
  text-align: right;
}

.page-title{
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.breadcrumbs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -25px;

  width: 4px;
  height: 7px;

  background-image: url(../img/svg-device/nav-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgb(255,255,255);
}
.breadcrumbs-current::after {
  display: none;
}

.catalog-item-image{
  background-color: rgb(239,239,239);
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 60px;
}
.catalog-item {
  width: 360px;
  position: relative;
  margin-bottom: 40px;
}

.catalog-item .catalog-item-batton{
  position: absolute;
  height: 379px;
  width: 360px;
  visibility: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.catalog-item:hover
.catalog-item-batton{
visibility: visible;
background-color:rgba(238,238,238,0.7);
top: 0;
opacity: 1;
}

.button-cont{
  margin-top: 170px;
  margin-left: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
}
.button-hover{
  text-align: center;
}



.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  padding: 0;

  list-style: none;
}
.filters{
  width: 200px;
}
.icon-inst{
  margin-left: 23px;
  margin-right: 23px;
}
.catalog-selfi{
  width: 760px;
}

.filter legend {
  margin-bottom: 23px;
  
  font-family: 'gilroy', Arial, sans-serif; 
  font-weight: bold;

  font-size: 18px;
  line-height: 24px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  
  border: none;
}


.catalog-page-title{
  margin-left: 60px;
  margin-top: 44px;
}
.filter ul {
  padding: 0;
  margin: 0;
    
  list-style: none;
  line-height: 18px;
}
.filter-option{
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.catalog-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
  color: #000000;
}
.catalog-item h3 {
  width: 250px;
  font-family: 'gilroy', Arial, sans-serif; 
  font-weight: bold;
}
.catalog-item .catalog-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-top: 37px;
  margin-left: 0;
}

.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-bottom: 77px;

  background-color: rgb(235,235,235);
  
  font-family: 'gilroy', Arial, sans-serif; 
  font-weight: bold;

}

.pagination-list{
  position: relative;
  padding: 30px 30px;
  z-index: 0;
}

.pagination .pagination-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination-item {
  margin-right: 30px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.filters-line{
  width:201px;
  height:2px;
  background: rgb(0,0,0);
  margin-bottom: 15px;
}

.breadcrumbs a{
  color: inherit;
}
.filter-option .filter-input-checkbox{
  display: none;
}
.filter-option .filter-input-radio{
  display: none;
}
.filters-item a{
  
  color: inherit;
}


.button-pagination{
  position: relative;
  padding: 30px 30px;
  z-index: 0;
  color:rgb(0,0,0);
  letter-spacing: 3.2px;
}

.button-pagination:hover{
  color: rgb(0,0,0);
  background-color: rgb(217,217,217);
}

.button-pagination:active{
  color: rgb(151,151,151)
}
.pagination-num{
color: rgb(164,164,164);
}

.checkbox{
  margin-left: 40px;

  font-size: 14px;
  line-height: 40px;
  font-family: 'opensans', Arial, sans-serif; 
  font-weight: lighter;
}
.checkbox .checkbox_mark{
  position: absolute;

  display: inline-block;
  vertical-align: middle;
  margin-left: -40px;
  margin-top: 9px;
  width: 23px;
  height: 23px;

  background-image: url("../img/svg-device/checkbox-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgb(239,239,239);
}

.checkbox input:checked + .checkbox_mark {
    content: "";
  
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-left: -40px;

    width: 27px;
    height: 23px; 
    
    background-image: url("../img/svg-device/checkbox-on.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(239,239,239);
  }


  .checkbox .radio{
    position: absolute;
  
    display: inline-block;
    vertical-align: middle;
    margin-left: -40px;
    margin-top: 9px;
    width: 25px;
    height: 25px;

    background-image: url("../img/svg-device/radio-off.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(239,239,239);
  }

.checkbox input:checked + .radio {
    content: "";
  
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-left: -40px;

    width: 25px;
    height: 25px; 
    
    background-image: url("../img/svg-device/radio-on.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(239,239,239);
  }
  
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
  
  @keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }

  .modal{
    position: fixed;
    visibility: hidden;

    top: 50%;
    -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
            transform: translateY(-55%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;

    background-color: rgb(255,255,255);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .modal-show {
    visibility: visible;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
    opacity: 1;
  }

  .modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
  }
  
  .modal-message{
    z-index: 1;

    left: 50%;
    width: 760px;
    height: 353px;
    margin-left: -480px;

    padding: 100px 97px;

    color: rgba(0,0,0);
  }
  
  .modal-close {
    z-index: 2;
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
  
    font-size: 0;
  
    border: 0;
  
    cursor: pointer;

    background: rgba(240,197,46,0.5);
    border-radius: 50px;
  }

  .modal-close::before,
  .modal-close::after {
    content: "";

    position: absolute;

    top: 26px ;
    right: 13px;

    width: 30px;
    height: 3px;

    background-color: rgb(255,255,255);
  }

  .modal-close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .modal-close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .modal-close:hover{
    background: rgb(240,197,46);
  }
  
  .modal-close:active{
    background: rgba(240,197,46,0.3);
  }

  .message-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .name-email{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px;
    width: 100%;
  }
  .form-group{
    width: 360px;
  }

  .sentlabel{
    color:rgb(0,0,0);
    font-size: 18px;
    line-height: 24px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;
    margin-bottom: 10px;
  }
  .sentinput{

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    font-family: 'opensans', Arial, sans-serif; 
    font-weight: normal;

    padding-left: 20px;

    border: transparent;
    border-bottom: 2px solid transparent;

    width: 360px;
    height: 50px;
  }

   .sentinput{
    opacity: .5;
    background-color: rgb(229,229,229);
  }

   .sentinput:hover {
    opacity: .8;
   }

   .sentinput:focus, .sentinput:active {
    background-color: rgb(255,255,255);
  }

  .textarea{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width:760px;
    height: 156px;
    margin-bottom: 40px;
  }

  .modal-map {
    z-index: 1;

    left: 50%;

    margin-left: -480px;

    color: rgba(0,0,0);

    width: 960px;
    height: 559px;
  }
  .modal-map p {
    margin: 0;
  }
  
  .logistics .logistic-icon{
    position: relative;
    margin-left: 25px;
  }

  .logistic-icon::before {
      content: "";
    
      position: absolute;

      top: 10px;
      left: -25px;

      width: 6px;
      height: 6px;
      

      background: rgb(255,255,255);

      border: rgb(229,229,229) solid 2px;
      border-radius: 50px;
    }
    
    .avtotreid{
      margin-top: 10px;
      margin-bottom: 10px;
    }



  .footer-user-navigation .user-login{
    position: relative;
    margin-left: 25px;
  }

  .user-login::before {
    content: "";
  
    position: absolute;

    top: 4px;
    left: -23px;
    width: 13px;
    height: 13px;
    
    background-image: url(../img/svg-device/user-gold.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(70,70,70);
  }


  .footer-user-navigation .user-cart{
    position: relative;
    margin-left: 25px;
  }

  .user-cart::before {
    content: "";
  
    position: absolute;

    top: 4px;
    left: -23px;
    width: 13px;
    height: 13px;

    background-image: url(../img/svg-device/cart-gold.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(70,70,70);
  }
  
  
  .footer-user-navigation .user-compare{
    position: relative;
    margin-left: 25px;
  }

  .user-compare::before {
    content: "";

    position: absolute;

    top: 4px;
    left: -23px;
    width: 13px;
    height: 13px;

    background-image: url(../img/svg-device/compare-gold.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(70,70,70);
  }
  .modal-map iframe {
    position: relative;
    z-index: 2;
  
    border: none;
  }
  .modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
  }
  .catalog-filters{
    margin-bottom: 70px;
    margin-left: -140px;
    margin-right: -140px;
  }
  .filters-name{
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 24px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;
    letter-spacing: 3.2px;
  }
  .filters-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .one{
    padding-left: 200px;
    padding-right: 173px;
    background-color: rgba(220,220,220,0.8);
  }
  .two{
    padding-left: 80px;
  }
  .sort-price{
    margin-left: 55px;
  }
  .sort-type{
  margin-left: 30px;
  margin-right: 30px;
  }

  .sort-item{
    font-size: 14px;
    line-height: 18px;
    font-family: 'opensans', Arial, sans-serif; 
    font-weight: normal;
    color: rgb(0,0,0);
    opacity: .3;
    background-color: transparent;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  
   .sort-item:hover {
    opacity: .6;
   }

   .sort-item:focus{
    opacity: 1;
   }

   .sort-item:active {
   opacity: 1;
  }

  .filters{
    padding-right: 61px;
    margin-left: -200px;
    padding-left: 200px;
  }


  .upward-direction{
    margin-left: 230px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .downward-direction{
    margin-left: 19px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .upward-direction .upward{
    top: 0px;
    width: 0px;

    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-bottom: 11px solid rgb(211,210,210);
  }

  .downward-direction .downward{
    top: 0px;
    width: 0px;

    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 11px solid rgb(211,210,210);
  }

  .upward:hover{
    border-bottom: 11px solid rgb(167,165,166);
  }
  .upward:active{
    border-bottom: 11px solid rgb(35,31,32);
  }

  .downward:hover{
    border-top: 11px solid rgb(167,165,166);
  }
  .downward:active{
    border-top: 11px solid rgb(35,31,32);
  }

  .slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  

  .popular-1{
    background-image: url(../img/svg-device/popular-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;

    width: 97px;
    height: 55px;
  }

 .categories-item:active .popular{
   opacity: 0.3;
  }
  .categories-item:active .categories-title{
    opacity: 0.3;
   }

  .popular-2{
    background-image: url(../img/svg-device/popular-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;

    width: 86px;
    height: 117px;
  }


  .popular-3{
    background-image: url(../img/svg-device/popular-3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;


    width: 71px;
    height: 87px;
  }

  .popular-4{
    background-image: url(../img/svg-device/popular-4.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;


    width: 107px;
    height: 65px;
  }
  .filters-container{
    width:100%;
    height:72px;
    background-image: -webkit-gradient(linear,left top, right top,from(#dcdcdc),color-stop(37%, #dcdcdc),color-stop(37%, #efefef),to(#efefef));
    background-image: -webkit-linear-gradient(left,#dcdcdc,#dcdcdc 37%,#efefef 37%,#efefef);
    background-image: -o-linear-gradient(left,#dcdcdc,#dcdcdc 37%,#efefef 37%,#efefef);
    background-image: linear-gradient(to right,#dcdcdc,#dcdcdc 37%,#efefef 37%,#efefef);
    background-color: rgb(235,235,235);
  }
  .catalog-container{
    width:100%;
    height:100%;
    background-image: -webkit-gradient(linear,left top, right top,from(#efefef),color-stop(37%, #efefef),color-stop(37%, #fff),to(#fff));
    background-image: -webkit-linear-gradient(left,#efefef,#efefef 37%,#fff 37%,#fff);
    background-image: -o-linear-gradient(left,#efefef,#efefef 37%,#fff 37%,#fff);
    background-image: linear-gradient(to right,#efefef,#efefef 37%,#fff 37%,#fff);
    background-color: rgb(235,235,235);
    padding-top: 69px;
  }

  .asd .container{
    padding-top: 70px;
  }

  .popular-5{
    background-image: url(../img/svg-device/popular-5.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;

    width: 56px;
    height: 98px;
  }

  .popular-6{
    background-image: url(../img/svg-device/popular-6.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;

    width: 132px;
    height: 69px;
  }

  .categories-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 180px;
  }
  .categories-thumb{
    background-color: rgb(247,226,150);
    width: 160px;
    height: 160px;
  }
  
  .categories-item:hover .categories-thumb{
    background-color: rgb(240,197,46);
  }

  .categories-item{
    margin-right: 40px;
    margin-top: 95px;
  }

  .categories-item:nth-child(6) {
    margin-right: 0px;
  } 

  .categories-thumb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .categories-item a{
    color: inherit;
  }
  .categories-title{
    color:rgb(0,0,0);
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;

    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
  }
  .advantages{
    position: relative;
    background-color: rgb(229,229,229);
    height:288px;
    margin-left: -140px;
    margin-right: -140px;
  }
  .advantages .advantages-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-align: center;
    
        -ms-flex-align: center;
    
            align-items: center;
    bottom:0;
    position: absolute;
    margin-bottom: 69px;
    background-color: transparent;
    height: 319px;
    width: 1160px;
  }
  .advantages-line{
    width: 7px;
    height: 319px;
    background-color: rgb(0,0,0);
  }
  .advantages-active{
    background-color: rgb(0,0,0);
    color: rgb(247,225,132);
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;

    font-size: 18px;
    line-height: auto;
    letter-spacing: 3.6px;

    padding-left: 43px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 277px;
  }



  .advantages-info .button{

    width: 160px;
    margin-right: 120px;
  } 
  .button-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right:-6px;
  }

  .button-column .button{
    width: 160px;
  }

  .advantages-text{
    width: 460px;
    margin-left: 118px;
    margin-right: 70px;
  }
  .advantages-text .title{
    margin-bottom: 40px;
  }
  .credit-img{
    background-image: url(../img/svg-device/credit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  
    width: 156px;
    height: 186px;
  }
  .warranty-img{
    background-image: url(../img/svg-device/warranty.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  
    width: 171px;
    height: 194px;
  }
  .delivery-img{
    background-image: url(../img/svg-device/delivery.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  
    width: 136px;
    height: 164px;
  }

  .brand-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 94px;
  }
  .black-line{
    width: 80px;
    height: 7px;
    background-color: black;
    margin-bottom: 40px;
  }

  .brand-img{
    display: block;
    width: 260px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo-1{
    -webkit-filter:grayscale(100%);
            filter:grayscale(100%);
    opacity: 0.2;
    background-image: url(../img/logo-1color.jpg);
    background-color: rgb(255,255,255);
  }

  .logo-1:hover {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }

  .logo-2{
    -webkit-filter:grayscale(100%);
            filter:grayscale(100%);
    opacity: 0.2;
    background-image: url(../img/logo-2color.jpg);
    background-color: rgb(255,255,255);
  }

  .logo-2:hover {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }

  .logo-3{
    -webkit-filter:grayscale(100%);
            filter:grayscale(100%);
    opacity: 0.2;
    background-image: url(../img/logo-3color.jpg);
    background-color: rgb(255,255,255);
  }

  .logo-3:hover {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }


  .logo-4{
    -webkit-filter:grayscale(100%);
            filter:grayscale(100%);
    opacity: 0.2;
    background-image: url(../img/logo-4color.jpg);
    background-color: rgb(255,255,255);
  }

  .logo-4:hover {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }



  .slider-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
  }

  .slider1 .slider-image{
    display: block;
    width: 384px;
    height: 486px;
    background-image: url(../img/slider-1.jpg);
    background-color: rgb(255,255,255);
    background-size: contain;
    background-repeat: no-repeat;

    margin-left: 31px;
  }


  .slider2 .slider-image{
    display: block;
    width: 345px;
    height: 485px;
    background-image: url(../img/slider-2.jpg);
    background-color: rgb(255,255,255);
    background-size: contain;
    background-repeat: no-repeat;

    margin-left: 31px;
  }

  .slider3 .slider-image{
    display: block;
    width: 526px;
    height: 334px;
    background-image: url(../img/slider-3.jpg);
    background-color: rgb(255,255,255);
    background-size: contain;
    background-repeat: no-repeat;

    margin-left: 31px;
  }

  .slider-info{
    width: 560px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 43px;
  }
  .slider-btn{
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../img/svg-device/slider-button-empty.svg);
    background-color: rgb(255,255,255);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slider-btn-active{
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../img/svg-device/slider-button.svg);
    background-color: rgb(255,255,255);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slider-button ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 78px;
    margin-top: 14px;
    margin-right: 80px;
  }
  .slider-advantages{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 280px;
  }

  .slider-advantages1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 430px;
  }

  .slider-info .title{
    margin-top: 20px;
    margin-bottom: 28px;
    letter-spacing: 0.47px;
  }
  .slider-text{
    width: 450px;

    font-size: 15px;
    line-height: 30px;
    font-family: 'opensans', Arial, sans-serif; 
    font-weight: lighter;
  }
  .advantages-name{
    font-size: 36px;
    line-height: 48px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: lighter;
  }
  .advantages-description{
    font-size: 13px;
    line-height: 20px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: lighter;
  }
  /*INPUT*/
  input[type='range'] {
    width: 196px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    position: relative;
    width: 196px;
    height: 2px;
    background: rgb(219,219,219);
  }
  input[type='range']::-webkit-slider-runnable-track:active {
    position: relative;
    width: 196px;
    height: 2px;
    background: rgb(red);
  }
  
  input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
  }
  
  
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    width: 20px;
    height: 22px;
    margin-top: -8px;
    background-image: url(../img/svg-device/filter-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  input[type='range']::-webkit-slider-thumb:active{
    width: 22px;
    height: 24px;
    margin-top: -8px;
  }
  
  
  input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 1;
  }
  
  .rangeslider{
    position: relative;
    height: 45px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    /*margin-left: 20px;*/
  
  }
  .rangeslider input{
    position: absolute;
    margin-top: -6px;
  }
  
  .rangeslider span{
    position: absolute;
    margin-top: 18px;
    left: 0;
    
  }
  
  .rangeslider .right{
    position: relative;
    float: right;
    margin-right: -5px;
    
  }
  .rng{
    font-size: 14px;
    line-height: 24px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: lighter;
    color: rgb(190,190,190)
  }
  
  /* This line can be removed it was just for display on CodePen: */
  
  
  .slider-labels {
    margin-top: 10px;
  }
  
  /* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    -o-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 22px;
  
    left: -7px;
    top: -7px;
    background-image: url(../img/svg-device/filter-button.svg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
  }
  
  .noUi-connect {
    background: rgb(145,201,47);
    -webkit-transition: background 450ms;
    -o-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    border-radius: 2px;
  }
  
  
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    width: 22px;
    height: 24px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }