@font-face {
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
     url('../fonts/gilroyextrabold.woff') format('woff');
}


@font-face {
    font-family: 'gilroy';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
  
    font-family: 'opensans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: rgb(70,70,70);
    background-color: rgb(255,255,255);
    letter-spacing: 0.1em;
  }


  .willfade:hover, .willfade:focus {
    opacity: .6;
  }
  
  .willfade:active {
    opacity: .3;
  }
  
  .willfadesecond{
    opacity: .3;
  }
  .willfadesecond:hover {
    opacity: 1;
  }

  .willfadesecond:active, .willfadesecond:focus {
    opacity: .3;
  }

  a {
    text-decoration: none;
  }
  /*
  .user-link:hover{
      color: rgba(0,0,0,0.6);
  }
  .user-link:active{
      color: rgba(0,0,0,0.4);
  }

  .submenu-link:hover{
    color: rgba(0,0,0,0.6);
  }
  .submenu-link:active{
    color: rgba(0,0,0,0.4);
  }
  
  .site-link:hover{
    color: rgba(0,0,0,0.6);
  }
  .site-link:active{
    color: rgba(0,0,0,0.4);
  }

*/
  .button {
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;
    text-align: center;
    color: rgb(0,0,0);
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
  
    background-color: transparent;
    border: none;
  }

  .site-navigation,
  .user-navigation,
  .submenu-column,
  .catalog-list{
    list-style: none;
  }

  .main-navigation {
    color: rgb(0,0,0);
    background-color: transparent;
  }

  .user-link{
    font-size: 15px;
    line-height: 30px;
  }

  .site-link{
    font-size: 18px;
    line-height: 24px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
  }

  .submenu-link{
    font-size: 15px;
    line-height: 36px;
    font-family: 'opensans', Arial, sans-serif; 
    font-weight: lighter;
  }

  .site-navigation a,
  .user-navigation a,
  .catalog-list a{
    color: rgb(0,0,0);
  }    

  .visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .submenu{
    display: flex;
  }
  .submenu-column{
    width: 200px;
    background: transparent;
    margin: 40px;

  }


/* MAIN */
  .title{
    color:rgb(0,0,0);
    font-size: 47px;
    line-height: 48px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;
  }

  .logistics{
    color:rgb(0,0,0);
    font-size: 18px;
    font-family: 'gilroy', Arial, sans-serif; 
    font-weight: bold;
   }
 
   .sentlabel{
    font-size: 14px;
    line-height: 18px;
    font-family: 'opensans';
    color: rgb(0,0,0);
   }

   .sentinput{
    opacity: .3;
    background-color: rgb(0,0,0,0.2);
  }

   .sentinput:hover {
    opacity: .6;
   }

   .sentinput:focus, .sentinput:active {
    opacity: 1;
    background-color: rgb(255,255,255);
  }
  


/* FOOTER */
  footer{
    background-color: rgb(70,70,70);
    color:rgb(255,255,255);
  }
  .logo{
    color:rgb(255,198,0);
    font-size: 48px;
    line-height: auto;
    font-family: 'gilroy', Arial, sans-serif;
    font-weight: bold;
  }

  .footer-site-navigation,
  .footer-user-navigation,
  .footer-social-navigation{
    list-style: none;
  }

  .footer-user-navigation a,
  .footer-site-navigation a,
  .footer-contacts a,
  .footer-social-navigation a{
    color: rgb(255,255,255);
  }    
  
  .footer-site-navigation{
    text-transform: uppercase;
  }

  /* Сеточные стили */
 
  .container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .main-navigation{
    display: flex;
    flex-direction: column;
  }
  .main-header{
    background-color:rgb(247,226,150);
    padding-top: 45px;
    padding-right: 60px;
    padding-bottom: 45px;
    padding-left: 60px;
    margin-top: 40px;
  }

  .user-navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

  }
  
  .search-link{
    width: 540px;
  }

  .compare{
    margin-left: auto;
    margin-right: 40px;
  }

  .site-navigation{
    display: flex;
  }
  
  .container .main{
    margin-top: 45px;
  }
  .container .main-index{
    margin-bottom: 90px;
  }


  .catalog{
    width: 540px;
  }
 
  .guarantee{
    margin-left: 33px;
  }

  .header-logo{
    width: 178px;
    height: 54px;
    margin-top: -70px;
  }


  .communication-columns{
    display: flex;
    justify-content: space-between;
  }

  .about-communication {
    width: 460px;
  }
  .contacts-communication{
    width: 560px;
  }


.main-footer .container{
  background-color: rgb(70,70,70);
  padding-top: 63px;
  padding-bottom: 67px;
  width: 1160px;
}


  .main-footer-wrapper{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
  }
.log-foot-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

  
  .footer-user-navigation{
    display: flex;
    justify-content: flex-end;

  }

  .footer-site-navigation{
    display: flex;
    justify-content: space-around;
  }
  .footer-navifooterrow{
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
  }
  .footerrow{
    display: flex;
    justify-content: space-between;
  }  
  .footer-social-navigation{
    display: flex;
    justify-content: space-between;
    width: 145px;
  }

  .compare-footer{
    margin-right: 30px;
    margin-left: 30px;
  }
  .guarantee-footer{
    margin-right: 36px;
    margin-left: 36px;
  }
  .centerrow{
    margin-top: 58px;
    margin-bottom: 68px;
  }

  .footer-line{
    width:80px;
    height:6px;
    background: rgb(255,190,0);
  }
  .address,
  .contacts{
    width: 200px;
  }

  .logo-academy{
    width: 80px;
  }

  .page-title{
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }

  .breadcrumbs{
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
  }
 
  .catalog-columns {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;

  }
  .catalog-item {
    width: 360px;
  }
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
    padding: 0;

    list-style: none;
  }
  .filters{
    width: 200px;
  }
  .icon-inst{
    margin-left: 23px;
    margin-right: 23px;
  }
  .catalog-selfi{
    width: 760px;
  }
  